@model CineplexMovieComplex.Models.MovieComingSoon

@{
    ViewData["Title"] = "Coming Soon";
}

<h2>Coming Soon!</h2>

<div>
    <h3>@Html.DisplayFor(model => model.Title)</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Poster
        </dt>
        <dd>
            <img src="@Url.Content(@Html.DisplayTextFor(model => model.ImageUrl))" style="display:block; max-height:500px; max-width:300px; height:auto; width:auto;" />
            <hr />
        </dd>
        <dt>
            Title
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Description
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>
