@model CineplexMovieComplex.Models.CreditCardModel
@{
    ViewData["Title"] = "Process Transaction";
}
<h2>Finalise Payment</h2>
<div>
@using (Html.BeginForm("FinaliseTransaction", "MovieTickets", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken();
    <h4>
        Please enter your credit card information below.
    </h4>
    <p>
        All data transmitted is encrypted and secured with SSL/HTTPS
    </p>
    <hr />
    <div class="form-group">
        <table>
            <tbody>
                <tr>
                    <td style="padding:5px;">
                        Credit Card Number
                    </td>
                    <td style="padding:5px;">
                        @Html.TextBoxFor(m => m.CreditCardNumber) <br />
                        <span style="color:red;">@Html.ValidationMessageFor(m => m.CreditCardNumber)</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px;">
                        Expiry
                    </td>
                    <td style="padding:5px;">
                        @Html.DropDownListFor(m => m.ExpiryMonth, new SelectList(Model.PosExpiryMonth))
                        @Html.ValidationMessageFor(m => m.ExpiryMonth)
                        /
                        @Html.DropDownListFor(m => m.ExpiryYear, new SelectList(Model.PosExpiryYear))
                        @Html.ValidationMessageFor(m => m.ExpiryYear)
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px;">
                        Name on card
                    </td>
                    <td style="padding:5px;">
                        @Html.TextBoxFor(m => m.NameOnCard, new { @class = "control-form" }) <br />
                        <span style="color:red;">@Html.ValidationMessageFor(m => m.NameOnCard)</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px;">
                        CVV
                    </td>
                    <td style="padding:5px;">
                        @Html.TextBoxFor(m => m.CVV, new { @class = "control-form" }) <br />
                        <span style="color:red;">@Html.ValidationMessageFor(m => m.CVV)</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding:5px;">
                        <input type="submit" class="btn btn-success" style="width:175px;" value="Submit" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
    <div class="form-group">
        <div>
            <a class="btn btn-default" asp-action="ViewCart">Return to cart</a>
        </div>
    </div>
</div>