@model CineplexMovieComplex.Models.CineplexMovie

@{
    ViewData["Title"] = "Movie Details";
}

<h2>Movie Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Movie.Title)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Poster
        </dt>
        <dd>
            <img src="@Url.Content(Html.DisplayTextFor(model => model.Movie.ImageUrl))" style="display:block; height:auto; width:auto; max-height: 500px; max-width:300px;" /> 
            <br />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cineplex.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cineplex.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt>
            Viewing Time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ViewingTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt>
            Seats Remaining
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeatsAvailable) / 20
        </dd>
    </dl>
</div>
<div>
    <h3><b><a asp-action="InitiateBooking">Book a seat!</a></b></h3><br />
    <a asp-action="Index">Back to List</a><br />
</div>
