@model CineplexMovieComplex.Models.CineplexMovie

@{
    ViewData["Title"] = "Movie Details";
}

<h2>Movie Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Movie.Title)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Poster
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.ImageUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeatsAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeatsAvailable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ViewingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ViewingTime)
        </dd>
    </dl>
</div>
<div>
    <center>
        <a asp-action="InitiateBooking">Book a seat!</a><br />
    </center>
    <br />
    <a asp-action="Index">Back to List</a><br />
</div>
