@model IEnumerable<CineplexMovieComplex.Models.CineplexMovie>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewingTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewingTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CineplexMovieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CineplexMovieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CineplexMovieId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
