@model CineplexMovieComplex.Models.CineplexMovie

@{
    ViewData["Title"] = "SelectSeat";
}

<h2>Select Seat</h2>

@using (Html.BeginForm("Create", "MovieTickets", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>
        Book seats for <b>@Html.DisplayFor(m => m.Movie.Title)</b>
    </h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Movie.Title, new { @class = "col-md-2 control-label", @readonly = "readonly" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Movie.Title, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.Movie.Title)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Cineplex.Location, new { @class = "col-md-2 control-label", @readonly = "readonly" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Cineplex.Location, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.Cineplex.Location)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ViewingTime, new { @class = "col-md-2 control-label", @readonly = "readonly" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ViewingTime, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.ViewingTime)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Seat, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Seat, new SelectList(Model.Seat.Where(s => s.Reserved == false), "SeatId", "CombinedSeat"))
                @Html.ValidationMessageFor(m => m.Seat)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Send" />
            </div>
        </div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
