@model CineplexMovieComplex.Models.Enquiry
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>
<h2>History</h2>
<p>
    All of our cineplex locations can cater for a variety of events that you may desire. <br />
    Our catering team is fully qualified and will provide the service that your events deserve. <br />
    
    We have years of experience catering for numerous events from childrens parties to corporate functions. <br />
</p>

<h2>Enquiries</h2>
<p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>
            If you wish to enquire about any aspects of our events, please fill out the form below and we will reply as soon as possible.
        </h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FromName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Message)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Send" />
            </div>
        </div>
    }
</p>